
.red
    background red !important

.hover:hover
    cursor pointer

.margin-right
    margin-right 10px

.chatwindow
    height 70%
    overflow-y auto

.message
    margin-bottom 2px

    .userLabel
        background lightgray
        margin-bottom 0
    
    .userMessage
        background white
        border none
        box-shadow none
        margin-bottom 0
