.red {
  background: #f00 !important;
}
.hover:hover {
  cursor: pointer;
}
.margin-right {
  margin-right: 10px;
}
.chatwindow {
  height: 70%;
  overflow-y: auto;
}
.message {
  margin-bottom: 2px;
}
.message .userLabel {
  background: #d3d3d3;
  margin-bottom: 0;
}
.message .userMessage {
  background: #fff;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
}
