body, html {
    background:black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

canvas {
    margin: 10px auto 0 auto;
    display: block;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
}